$bg-color-1: #edf9f8;
$bg-color-2: #f4fbfb; // цвет верхнего меню в шапке
$line-color-1: #e5ecec; // цвет нижней полоски в меню в шапке
$font-color-1: #434343; // серый цвет текста
$font-color-2: #8dd9d0; // голубой цвет текста