$bg-color-1: #edf9f8;
$bg-color-2: #f4fbfb; // цвет верхнего меню в шапке
$bg-color-3: #fff;
$bg-color-4: #8dd9d0; // голубая кнопка светлая
$bg-color-5: #64b7ad; // голубая кнопка темная
$bg-color-6: #f8f8f8; // баннеры
$bg-color-7: #3c3c3c;

$line-color-1: #e5ecec; // цвет нижней полоски в меню в шапке
$line-color-2: #d9d9d9; // серый цвет оконтовки
$line-color-3: #8dd9d0; //
$line-color-4: #64b7ad; //
$line-color-5: #fff; //
$line-color-6: #dddddd;

$font-color-1: #434343; // серый цвет текста
$font-color-2: #8dd9d0; // голубой цвет текста
$font-color-3: #333333; // цвет текста на кнопке
$font-color-4: #404040; // 
$font-color-5: #fff;
$font-color-6: #878787;
$font-color-7: #a2a2a2;
