@charset "UTF-8";
body {
  font-family: "OpenSansRegular", OpenSansRegular, sans-serif;
  background-color: #edf9f8; }

div, img, table tr td {
  outline: 1px red solid; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

a, i {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a {
  color: #434343; }

a:hover {
  color: #8dd9d0; }

.btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn-1 {
  display: inline-block;
  padding: 18px 38px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "OpenSansRegular", OpenSansRegular, sans-serif;
  border: 1px solid #8dd9d0;
  border-radius: 3px;
  color: #333333;
  background-color: #8dd9d0;
  text-decoration: none; }
  .btn-1:hover {
    color: #333333;
    background-color: #64b7ad;
    border: 1px solid #64b7ad;
    border: 1px solid #64b7ad; }

.btn-2 {
  display: inline-block;
  position: relative;
  padding: 18px 30px;
  text-transform: uppercase;
  padding-left: 58px;
  margin-left: 20px;
  font-size: 12px;
  font-family: "OpenSansRegular", OpenSansRegular, sans-serif;
  border: 1px solid #8dd9d0;
  border-radius: 3px;
  color: #333333;
  text-decoration: none; }
  .btn-2:hover {
    color: #333333;
    border: 1px solid #64b7ad; }

.btn-3 {
  display: inline-block;
  position: relative;
  padding: 18px 30px;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "OpenSansBold", OpenSansBold, sans-serif;
  border: 2px solid #8dd9d0;
  border-radius: 3px;
  color: #404040;
  background-color: transparent;
  text-decoration: none; }
  .btn-3:hover {
    color: #fff;
    background-color: #8dd9d0;
    border: 2px solid #64b7ad; }

.btn-4 {
  display: inline-block;
  position: relative;
  padding: 18px 30px;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "OpenSansBold", OpenSansBold, sans-serif;
  border: 2px solid #8dd9d0;
  border-radius: 3px;
  color: #fff;
  background-color: #64b7ad;
  text-decoration: none; }
  .btn-4:hover {
    color: #404040;
    background-color: transparent;
    border: 2px solid #fff; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    padding: 0;
    margin: 0; }

.column {
  width: 1166px;
  margin: 0 auto;
  padding: 0 32px; }

main .column {
  background-color: #fff; }

.head-menu {
  height: 33px;
  font-family: "OpenSansRegular", OpenSansRegular, sans-serif; }
  .head-menu ul {
    display: inline-block;
    float: right;
    height: 100%;
    font-size: 0; }
    .head-menu ul li {
      display: inline-block;
      height: 100%;
      line-height: 33px;
      /* gift icon */
      /* heart icon */
      /* key icon */ }
      .head-menu ul li a {
        font-size: 14px;
        text-decoration: none;
        color: #434343;
        padding-left: 30px;
        line-height: 33px;
        height: 33px; }
        .head-menu ul li a:hover {
          color: #8dd9d0; }
      .head-menu ul li i.gift {
        background: url("../img/sprites.png") no-repeat -23px 0;
        margin: 0 10px;
        display: inline-block;
        width: 14px;
        height: 14px; }
      .head-menu ul li a:hover i.gift {
        background: url("../img/sprites.png") no-repeat -23px -17px;
        margin: 0 10px;
        display: inline-block;
        width: 14px;
        height: 14px; }
      .head-menu ul li i.heart {
        background: url("../img/sprites.png") no-repeat -40px 0;
        margin: 0 10px;
        display: inline-block;
        width: 13px;
        height: 11px; }
      .head-menu ul li a:hover i.heart {
        background: url("../img/sprites.png") no-repeat -40px -12px;
        margin: 0 10px;
        display: inline-block;
        width: 13px;
        height: 11px; }
      .head-menu ul li i.key {
        background: url("../img/sprites.png") no-repeat -56px 0;
        margin: 0 10px;
        display: inline-block;
        width: 22px;
        height: 11px; }
      .head-menu ul li a:hover i.key {
        background: url("../img/sprites.png") no-repeat -56px -12px;
        margin: 0 10px;
        display: inline-block;
        width: 22px;
        height: 11px; }

.head-menu-wrap {
  background-color: #f4fbfb;
  border-bottom: 1px solid #e5ecec; }

nav {
  height: 48px;
  float: left; }
  nav ul {
    display: inline-block;
    font-size: 0; }
    nav ul li {
      display: inline-block;
      padding: 0 20px; }
      nav ul li a {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        text-decoration: none; }
      nav ul li:hover .hidden-block {
        display: block; }

.hidden-block {
  display: none;
  width: 1188px;
  height: 300px;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  margin-left: -52px;
  padding: 20px;
  border: 1px solid #e5ecec;
  background: url(../img/woman.png) no-repeat center right #fff; }
  .hidden-block .left-block {
    float: left;
    background-color: #8dd9d0;
    width: 360px;
    height: 100%;
    padding-left: 70px;
    font-size: 16px; }
    .hidden-block .left-block .title {
      font-size: 16px;
      color: #fff;
      padding-top: 20px; }
    .hidden-block .left-block ul {
      display: list-item;
      list-style: square;
      padding: 10px; }
      .hidden-block .left-block ul li {
        font-size: 16px;
        padding: 5px 0;
        display: list-item; }

input.search {
  float: right;
  width: 405px;
  height: 40px;
  padding: 0 10px;
  margin-top: 3px;
  border: 1px solid #d9d9d9;
  position: relative;
  background: url("../img/search.png") no-repeat 390px center #fff; }

.head {
  height: 118px; }
  .head table {
    height: 100%; }
  .head table tr {
    height: 100%; }
  .head table tr td {
    vertical-align: middle;
    height: 100%; }

.logo {
  width: 400px; }

.number {
  width: 300px;
  text-align: center; }
  .number a {
    color: #8dd9d0;
    font-size: 30px;
    text-decoration: none;
    position: relative; }
    .number a:before {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      width: 21px;
      height: 21px;
      background: url("../img/phone.png") no-repeat center; }
  .number p {
    margin: 0;
    padding: 10px; }

.call {
  width: 250px;
  text-align: center; }

.bid {
  width: 466px;
  text-align: right;
  /* heart icon */ }
  .bid a i.basket {
    position: absolute;
    left: 20px;
    background: url("../img/sprites.png") no-repeat 0 0;
    margin: 0 10px;
    display: inline-block;
    width: 19px;
    height: 16px; }
  .bid a:hover i.basket {
    background: url("../img/sprites.png") no-repeat 0 -17px;
    margin: 0 10px;
    display: inline-block;
    width: 19px;
    height: 16px; }

/* big-content-block */
.big-content-block .block {
  border: 1px solid #d9d9d9;
  position: relative;
  background-color: #fff;
  margin-bottom: 5px; }
.big-content-block .big-block-left {
  float: left;
  width: 668px;
  height: 570px;
  background-color: #f8f8f8;
  overflow: hidden; }
  .big-content-block .big-block-left .text {
    margin-left: 20px;
    max-width: 300px;
    overflow: hidden;
    margin-top: 20px; }
  .big-content-block .big-block-left .title {
    text-transform: uppercase;
    position: relative;
    text-align: left;
    color: #333333;
    font-size: 16px;
    padding-bottom: 10px; }
    .big-content-block .big-block-left .title:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 50px;
      border: 1px solid #000; }
  .big-content-block .big-block-left h2 {
    text-transform: uppercase;
    font-size: 37px;
    margin: 0; }
  .big-content-block .big-block-left p {
    font-family: "OpenSansItalic", OpenSansItalic, sans-serif;
    margin: 4px;
    font-size: 27px;
    color: #878787;
    text-align: left; }
  .big-content-block .big-block-left .btn-3 {
    position: absolute;
    left: 68px;
    bottom: 58px; }
  .big-content-block .big-block-left .price-old {
    font-size: 26px;
    margin: 20px 0;
    font-family: "OpenSansLight", OpenSansLight, sans-serif;
    text-decoration: line-through; }
  .big-content-block .big-block-left .price-new {
    font-size: 37px;
    margin: 20px 0;
    font-family: "OpenSans", OpenSans, sans-serif;
    color: #8dd9d0; }
  .big-content-block .big-block-left .img-area {
    float: right;
    width: 360px;
    overflow: hidden; }
.big-content-block .medium-block-right {
  float: right;
  width: 488px;
  height: 318px;
  background-color: #f8f8f8;
  text-align: center; }
  .big-content-block .medium-block-right .title {
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-size: 37px;
    padding-bottom: 10px; }
    .big-content-block .medium-block-right .title:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: 0px;
      width: 100px;
      border: 1px solid #000; }
  .big-content-block .medium-block-right p {
    font-family: "OpenSansItalic", OpenSansItalic, sans-serif;
    font-size: 16px;
    color: #878787;
    text-align: center; }
  .big-content-block .medium-block-right .img-area {
    max-height: 80px;
    text-align: center;
    padding: 20px;
    overflow: hidden; }
    .big-content-block .medium-block-right .img-area table {
      width: 100%; }
.big-content-block .small-block-right {
  float: right;
  width: 488px;
  height: 246px;
  background-color: #8dd9d0;
  text-align: center; }
  .big-content-block .small-block-right .title {
    text-transform: uppercase;
    position: relative;
    margin-top: 36px;
    padding: 0 130px;
    text-align: center;
    color: #333333;
    font-size: 18px;
    padding-bottom: 10px; }
    .big-content-block .small-block-right .title:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -25px;
      bottom: 0px;
      width: 50px;
      border: 1px solid #000; }
  .big-content-block .small-block-right p {
    font-family: "OpenSansItalic", OpenSansItalic, sans-serif;
    padding: 0 130px;
    font-size: 12px;
    color: #878787;
    text-align: center; }
.big-content-block .big-second-block-left {
  float: left;
  width: 668px;
  height: 506px;
  background-color: #f8f8f8; }
  .big-content-block .big-second-block-left .btn-3 {
    position: absolute;
    right: 30px;
    bottom: 34px; }
  .big-content-block .big-second-block-left .title {
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-size: 37px;
    padding-bottom: 10px; }
    .big-content-block .big-second-block-left .title:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: 0px;
      width: 100px;
      border: 1px solid #000; }
  .big-content-block .big-second-block-left p {
    font-family: "OpenSansItalic", OpenSansItalic, sans-serif;
    font-size: 16px;
    color: #878787;
    text-align: center; }
  .big-content-block .big-second-block-left .img-area {
    width: 400px;
    max-height: 320px;
    text-align: center;
    padding: 20px;
    overflow: hidden; }
.big-content-block .big-second-block-right {
  float: right;
  width: 488px;
  height: 506px;
  background-color: #f8f8f8; }
  .big-content-block .big-second-block-right .btn-3 {
    position: absolute;
    right: 30px;
    bottom: 34px; }
  .big-content-block .big-second-block-right .title {
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-size: 37px;
    padding-bottom: 10px; }
    .big-content-block .big-second-block-right .title:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: 0px;
      width: 100px;
      border: 1px solid #000; }
  .big-content-block .big-second-block-right .img-area {
    max-height: 320px;
    text-align: center;
    padding: 20px;
    overflow: hidden; }

/********** ╨а╨░╨╖╨┤╨╡╨╗╤Л **********/
.section .title {
  padding-left: 30px;
  position: relative;
  font-family: "Baskerville",Baskerville,sans-serif;
  font-size: 30px;
  padding-top: 40px;
  font-size: 50px;
  border-bottom: 1px solid #000;
  position: relative; }
  .section .title .navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    cursor: pointer; }
    .section .title .navigation .navigotion-left {
      width: 58px;
      height: 64px;
      float: left;
      background: url(../img/arrow-left.png) no-repeat center #8dd9d0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .section .title .navigation .navigotion-left:hover {
        background: url(../img/arrow-left.png) no-repeat 16px center #8dd9d0; }
    .section .title .navigation .navigotion-right {
      width: 58px;
      height: 64px;
      float: left;
      background: url(../img/arrow-right.png) no-repeat center #3c3c3c;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .section .title .navigation .navigotion-right:hover {
        background: url(../img/arrow-right.png) no-repeat 30px center #3c3c3c; }

/* ╨С╨╗╨╛╨║ ╨╜╨╛╨▓╨╕╨╜╨║╨╕ */
.novelty {
  overflow: hidden; }
  .novelty .novelty-block {
    display: inline-block;
    overflow: hidden;
    width: 370px;
    height: 200px;
    padding: 10px 7px; }

/* ╨С╨╗╨╛╨║ ╨▒╤А╨╡╨╜╨┤╤Л */
.brands {
  overflow: hidden;
  height: 300px; }
  .brands .brands-block {
    display: inline-block;
    overflow: hidden;
    width: 274px;
    height: 200px;
    padding: 10px 7px; }

/* ╨С╨╗╨╛╨║ ╤А╨░╤Б╨┐╤А╨╛╨┤╨░╨╢╨░ */
.sell {
  overflow: hidden;
  padding: 28px 0; }
  .sell .sell-block {
    display: inline-block;
    overflow: hidden;
    width: 268px;
    max-height: 407px;
    margin: 0 9px;
    border: 1px solid #dddddd; }
    .sell .sell-block .sell-img {
      width: 100%;
      height: 290px;
      overflow: hidden;
      position: relative; }
      .sell .sell-block .sell-img img {
        width: 100%;
        height: auto; }
      .sell .sell-block .sell-img .discount {
        position: absolute;
        left: 0;
        top: 20px;
        background-color: #8dd9d0;
        font-size: 14px;
        font-family: "LatoRegular",LatoRegular,sans-serif;
        color: #fff;
        padding: 10px 20px; }
    .sell .sell-block .sell-title {
      padding-top: 18px;
      padding-bottom: 12px; }
      .sell .sell-block .sell-title h4 {
        font-size: 16px;
        padding-left: 12px;
        line-height: 16px;
        max-height: 16px;
        color: #434343;
        margin: 0; }
      .sell .sell-block .sell-title p {
        padding-top: 6px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 14px;
        max-height: 14px;
        color: #a2a2a2;
        margin: 0; }
    .sell .sell-block .sell-panel {
      height: 50px;
      border-top: 1px solid #dddddd; }
      .sell .sell-block .sell-panel .heart {
        float: left;
        width: 52px;
        height: 50px;
        border-right: 2px solid #dddddd;
        background: url(../img/heart.png) no-repeat center #fff;
        cursor: pointer; }
        .sell .sell-block .sell-panel .heart:hover {
          background-color: #8dd9d0; }
      .sell .sell-block .sell-panel .gift {
        float: left;
        width: 52px;
        height: 50px;
        border-right: 2px solid #dddddd;
        background: url(../img/gift.png) no-repeat center #fff;
        cursor: pointer; }
        .sell .sell-block .sell-panel .gift:hover {
          background-color: #8dd9d0; }
      .sell .sell-block .sell-panel .basket {
        float: left;
        width: 52px;
        height: 50px;
        border-right: 2px solid #dddddd;
        background: url(../img/basket.png) no-repeat center #fff;
        cursor: pointer; }
        .sell .sell-block .sell-panel .basket:hover {
          background-color: #8dd9d0; }
      .sell .sell-block .sell-panel .cost {
        float: left;
        background-color: #8dd9d0;
        text-align: center;
        width: 106px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 24px; }
        .sell .sell-block .sell-panel .cost span {
          font-size: 14px; }

/* seo text */
.text {
  padding: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5ecec; }
  .text a {
    text-decoration: underline; }

/* footer */
footer .footer-menu {
  color: #434343;
  font-family: "OpenSansRegular", OpenSansRegular, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 60px; }
  footer .footer-menu .title {
    font-family: "OpenSansRegular", OpenSansRegular, sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
  footer .footer-menu a {
    text-decoration: none; }
  footer .footer-menu ul {
    list-style: none;
    padding-top: 30px; }
    footer .footer-menu ul ul {
      list-style: disc inside;
      padding-top: 0px; }
  footer .footer-menu .first-column {
    float: left;
    padding: 0 30px; }
  footer .footer-menu .seconds-column {
    float: left;
    padding: 0 30px; }
  footer .footer-menu .third-column {
    float: left;
    padding: 0 30px; }
  footer .footer-menu .fourth-column {
    float: left;
    padding: 0 30px; }
    footer .footer-menu .fourth-column ul {
      display: inline-block;
      padding-top: 10px; }
      footer .footer-menu .fourth-column ul li {
        display: inline-block; }
footer .footer-bottom {
  border-bottom: 1px solid #dddddd;
  padding: 24px 0; }
  footer .footer-bottom .left-text {
    float: left; }
    footer .footer-bottom .left-text p {
      margin: 4px 0; }
  footer .footer-bottom .right-text {
    float: right;
    text-align: right; }
    footer .footer-bottom .right-text p {
      margin: 4px 0; }
    footer .footer-bottom .right-text a.number {
      color: #8dd9d0;
      font-size: 30px;
      text-decoration: none;
      position: relative;
      padding-left: 24px; }
      footer .footer-bottom .right-text a.number:before {
        content: "";
        display: block;
        position: absolute;
        top: 12px;
        width: 21px;
        height: 21px;
        background: url("../img/phone.png") no-repeat center; }
